<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>New Category</mat-card-title>
          <mat-card-actions>
            <button mat-raised-button style="float: right;"color="primary">Add Category</button>
        </mat-card-actions>
       
          <mat-divider></mat-divider>
        </mat-card-header>
         <mat-card-content>
            <p>
                <span matBadge="*" matBadgeOverlap="false" matBadgeColor="warn">Category Name </span>
              </p>
              <p>
                <mat-divider></mat-divider>
                <mat-form-field appearance="outline">
                  <mat-label>Enter category name</mat-label>
                  <input matInput placeholder="Category">
                </mat-form-field>
              </p>
        </mat-card-content>
        
      </mat-card>

</div>